[Desktop Entry]
Version=1.0
Type=Application
Name=Nepoogle
Exec=nepoogle
Icon=nepomuk
GenericName=Nepomuk search utility
GenericName[ca]=Utilitat de cerca del Nepomuk
GenericName[de]=Nepomuk-Suche
GenericName[el]=Εργαλείο αναζήτησης για το Nepomuk
GenericName[es]=Utilidad de búsqueda Nepomuk
GenericName[fr]=Utilitaire de recherche Nepomuk
GenericName[nl]=Nepomuk Zoekhulpmiddel
GenericName[pl]=Nepomuk narzędzia wyszukiwania
GenericName[pt_BR]=Utilitário de pesquisa Nepomuk
Comment=A search utility for Nepomuk inspired in Google's search syntax.
Comment[ca]=Utilitat de cerca del Nepomuk inspirada en la sintaxi de cerca de Google.
Comment[de]=Eine durch Googles Such-Syntax inspirierte Desktop-Suche für Nepomuk.
Comment[el]=Ένα εργαλείο αναζήτησης για το Nepomuk, εμπνευσμένο από τη σύνταξη της αναζήτησης στο Google.
Comment[es]=Utilidad de búsqueda Nepomuk inspirada en la sintaxis de búsqueda de Google.
Comment[fr]=Un utilitaire de recherche pour Nepomuk inspiré par la syntaxe de recherche Google.
Comment[nl]= Een zoekhulpmiddel voor Nepomuk geïnspireerd op Google's zoeksyntax.
Comment[pl]=Narzędzie wyszukiwania  Nepomuka  inspirowane  składnią wyszukiwania Google.
Comment[pt_BR]=Um utilitário de pesquisa para o Nepomuk inspirado na sintaxe de busca da Google.
Categories=Utility